*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: rgba(228, 228, 228, 0.609);
}

h3, p, h1, h2, h4, h6, h5 {
    margin: 0;
    padding:0;
}

.headerWrapper {
    // border-bottom: 1px solid #aaa;
    box-shadow: 2px 2px 10px #ddd;
    background: #fff;
    margin-bottom: 20px;

    .header {
        display: grid;
        grid-template-columns: auto 10fr 15fr auto;
        width: 80%;
        padding: 7px 10px;
        margin: 0 auto;
        place-items: center;
        color: grey;

        .login-btn {
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            font-size: 10px;
            font-weight: 600;
            background: transparent;
            border: 1px solid lightgrey;
            cursor: pointer;
        }

        button {
            margin: 0 3px;

            &.orange {
                background: rgb(191, 73, 31);
                color: white;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                font-size: 10px;
                font-weight: 600;
                cursor: pointer;
            }

            &.orange:hover {
                background: rgba(191, 73, 31, 0.8);
            }
        }

        img {
            border-radius: 50%;
            overflow: hidden;
        }

        .header-search {
            margin: 0 auto;
            width: 90%;
            padding: 8px 10px;
            background: transparent;
            border: none;
            border: 1px solid lightgrey;
            color: grey;
            outline: none;

            i {
                font-size: 15px;
                color: lightgrey;
                padding: 0 10px;
            }
        }

        .nav-item {
            display: flex;
            list-style: none;
            place-items: center;
            height: 80%;
            justify-self: left;

            ul {
                // padding: 0;
                margin: 0;
            }

            li {
                margin: 0 10px;
                 &:hover{
                  color: #b2aeae;
                  cursor: pointer;
                 }
            }
        }
    }
}

.card-wrapper {
    margin: 0 auto;
    width: 75%;
    background: #fff;
}

.product-card, .product-page-card {
    // margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;

    .product-details {
        padding-left: 20px;

        .product-btn {
            border: none;
        }
    }
}

.message {
    padding: 3px 7px;
    border: none;
    border: 1px solid lightgrey;
    background: transparent;

    i {
        color: grey;
        font-size: 12px;
    }

    span {
        padding: 0 5px;
    }
}

.design {
    border: none;
    background: transparent;
    color: grey;
    font-size: 12px;
    padding: 0px 15px;
    cursor: pointer;

    span {
        padding: 4px;
        border: 1px solid lightgrey;
        margin-right: 10px;
        display: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.product-card {
    &:hover {
        cursor: pointer;
        background: #f4f5f7;

        .design span {
            display: inline-block;
            background: white;
        }

        .message {
            background: white;
        }
    }

    p {
        color: grey;
        font-size: 12px;
        padding: 6px 0px;
    }

    h3 {
        font-weight: 400;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .right-btn {
        padding: 24px 22px;
        background: transparent;
        border: none;
        border: 1px solid lightgrey;
        cursor: pointer;

        i {
            font-size: 18px;
        }
    }
}

.close {
    position: absolute;
    top: 40px;
    left: 50px;
    background: #eee;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    &:focus{
        outline: none;
        background: #ddd;

        
    }
}

.product-page {
    padding: 100px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.411);

    .wrapper {
        background: #fff;
        padding: 3.8em 2em;
        border: 1px solid grey;
        padding: 30px;
        background: rgb(252, 249, 250);
        .product-page-card{
          border: none;
          padding: 25px 0;
          color: grey;

          .plus{
            padding: 8px 10px;
            border: 1px solid lightgrey;
            display: inline-block;
            // display: none;
          }
          button{
            background: transparent;
            border: none;
            color: grey;
            border: 1px solid lightgrey;
            cursor: pointer;
            font-size: 10px;
            padding: 8px 8px;

            &:hover{
             .product-details, .plus{
                display: inline-block;
              }
            }

          }

          h3{
            color: black;
          }

          p{
            padding: 5px;
          }

        }
    }
}

.product__bottom {
    width: 80%;
    // margin: 0 auto;
    display: grid;
    grid-template-columns: auto 2fr;
    padding: 1.8em;
    border: 1px solid lightgrey;
    background: #fff;

    aside {
        .aside-list {
            padding: 20px 0;
        }

        img {
            width: 90px;
            height: 90px;
        }

        i {
            color: yellow;
            font-size: 13px;
            padding-right: 7px;
        }

        li {
            list-style: none;
        }
    }
}

.product__bottom__left {
    width: 150px;
    background: rgb(11, 15, 22);
    color: white;
    font-size: 12px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        padding: 8px 0;
    }
}

.product__bottom__right {
    padding: 30px;

    h3{
        padding: 6px 0;
    }

    p{
        padding: 10px 0;
        font-size: 12px;
    }

    img{
        width: 170px;
        height: 170px;
    }
    .product__image-sec {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

      .paragraph{
          color: #868889;
      }

      .image-sec__element {
        cursor: pointer;
    padding: 0 20px;

          h4{
            &:hover{
                color: #ed5a7e;
            }
          }
      div{
        small{
            color: lightgrey;
        }
      }
      span {
          padding: 4px;
          border: 1px solid #222;
      }
      }
    }


    span {
        color: pink;
    }
}

.border {
    padding: 10px;
}

.fuzzyContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(211, 211, 211, 0.433);

    .header-replacement {
        width: 100%;
        height: 67px;
        background: #fff;
        box-shadow: 0px 2px 10px #ccc;
    }
}

.search-container {
    position: absolute;
    top: 16px;
    left: 151px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: rows;
    width: 78.4%;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;

    .fuzz {
        height: 40px;
        margin: 0;
        display: flex;
    }

    .fuzzItem {
        padding-left: 30px;
        height: 100%;
        font-size: 22px;
        width: 100%;
        letter-spacing: 2.2px;
        font-weight: 600;
        color: #555;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .fuzz-search {
        height: 47px;
        padding: 0 10px;
        border: none;
        color: #333;
        font-size: 18px;
    }
}
